<% form_remote_for @comment, :url => activity_comments_path(@activity) do |f| %>

  <%= f.error_messages %>

	<%= render :partial => "form", :locals => {:f => f} %>
  <p>
    <%= f.submit t('comments.new.submit') %>
  </p>
<% end %>