Here's what we can offer. <span class="highlight">It's all free</span>.  In addition to your organization's logo on our partners page, you can have your own website like <a href="http://partner.whitehouse2.org/">http://partner.whitehouse2.org/</a> with
<ol>
	<li>your logo
	<li>a link to your website
	<li>a checkbox when people signup to opt-in for <span class="highlight">your email list or newsletter</span>.
</ol>
<p>
Instead of a boring survey asking your members what's important to them, link them to your WH2 website.  It's more exciting <i>and</i> empowering. 
<p>
And you'll influence the nation's agenda.  Maybe you're the Sierra Club and want conservation to be a big priority, so you encourage your members to endorse it.
<p>
Maybe you're a teacher, the American Cancer Society, or a radio DJ and just want to give your audience a voice in America's future.  Bloggers, online magazines, TV shows, YouTubers, anyone with an audience (<strike>even if it's just your friends</strike>, <i>especially</i> if it's just your friends) can get their own special version of the site.