<% form_for(@partner) do |f| %>
  <%= f.error_messages %>
	<%= render :partial => "form", :locals => {:f => f}%>
  <p>
    <%= f.submit t('partners.new.submit'), :class => "yellow_button" %>
  </p>
<% end %>
