<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<% for color in color_scheme.unique_colors %>
		<td bgcolor="#<%= color %>" width="30px" height="50px">&nbsp;</td>
		<% end %>
	</tr>
</table>
