<div id="hp_intro"><%= @page_title %></div>
<p>

<% for color_scheme in @color_schemes %>
	<%= link_to (render :partial => "show", :locals => {:color_scheme => color_scheme}), new_color_scheme_url(:id => color_scheme.id)  %>
	<p>
<% end %>
