<% if not ['inactive','buried'].include?(priority.status) %>
	<div class="priority_actions">
		<%= render :partial => "priorities/button_small", :locals => {:priority => priority, :endorsement => endorsement, :region => "priority_inline"} %>
		<%= render :partial => "priorities/endorsement_count", :locals => {:priority => priority }%>
	</div>
<% end %>