<li class="tab2" id="endorser_link">
	<span class="tab_header">
	<%= link_to t('menu.priorities.endorsers', :count => @priority.up_endorsements_count), endorsers_priority_url(@priority) %>
	</span>
</li>