<li class="tab3" id="opposer_link">
	<span class="tab_header">
	<%= link_to t('menu.priorities.opposers', :count => @priority.down_endorsements_count), opposers_priority_url(@priority) %>
	</span>
</li>
