<div id="priority_short_url">
<% if priority.attribute_present?("short_url") %>
	<%= t('priorities.short_url.name')%>
	<input type="text" id="short_url" onFocus="this.select()" onMouseUp="return false;" value="<%= priority.short_url %>" readonly="true" size="10">
<% else %>	
	<%= link_to_remote t('priorities.short_url.link'), :url => create_short_url_priority_path(priority), :method => :put %>
<% end %>
</div>