<b>Propose an acquisition of this priority</b>.  You can spend some of your {{ government.currency_name | downcase }} to hold a vote on whether this priority should be acquired by another priority.

<p>You cannot buy<span class="pc">{{ government.currency_short_name }}</span> with real money, but you can earn it in a variety of ways, like <a href="/network/find">inviting people to join</a>, and writing helpful <a href="../points/new">talking points</a>.  <a href="/about/faq#pc">Details here</a>.

<p>
Once you've submitted your proposal, the existing endorsers or opposers will receive an email within a day or two to vote on it (we try to minimize the number of emails).  If more than 70% support the acquisition, it will be approved.

<p>If approved, you will receive <i>double</i> the {{ government.currency_name | downcase }} you spent.