Ads at {{government.name}} are bought with {{ government.currency_name | downcase }}, not money. That's what the<span class="pc">{{ government.currency_short_name }}</span> next to people's names refers to.  You can earn<span class="pc">{{ government.currency_short_name }}</span> in a variety of ways, <a href="/about/faq#pc">details are here</a>.  
<p>
To place an ad, click on one of your priorities, then the "Action" and "Purchase an ad".