<a href="/">{{government.name}}</a> is built with <a href="http://nationbuilder.com/">NationBuilder</a> and managed by {{government.admin_name}}. Anyone can get involved and set priorities for {{government.target}}.  <a href="/signup">Sign up here</a>.
<br/>
More <a href="/about">about the site</a>, our <a href="/about/rules">rules</a>, and strict <a href="/about/privacy">privacy policy</a>. Press inquiries can be addressed to {{government.admin_email | mailto}}.