{{government.name_with_tagline}}. {{government.mission}}
<p>
<div align="center">
{{government.logo_small}}
</div>
<p>
Getting involved is easy and fun.  Just join and start setting your priorities, like a to do list.  The more people who make your priority their own priority, the higher it <a href="/priorities/rising">rises in the charts</a>. The more people who <a href="/signup">join the network</a>, the more clout we have to make our agenda happen.