{{government.name_with_tagline}}. {{government.mission}}
<p>
<div align="center">
{{government.logo_small}}
</div>
<p>
Getting involved is easy and fun.  Just join and start setting your priorities, like a todo list.  The more people who endorse a priority, the higher it <a href="/priorities/rising">rises in the charts</a>. The more people who <a href="/signup">join the network</a>, the more clout we will have with {{ government.target }}.