To make it as easy as possible for you to spread the word, I'll actually send an email on your behalf to whomever you want and introduce them to the site.   Don't worry, they will not be added to any email list, and if they are already a member of the site, it will connect you to their profile immediately.
<p>		
You can also send your own email using your regular email program. Feel free to steal from what I wrote below.  Thanks for getting involved.
<span align="right" style="margin-left: 5px;">- {{ government.admin_name }}</span>
<p>
This form will let you send one invitation at a time, but you can also <a href="/network/find">import your contacts</a> from Google, Yahoo or Windows Live to invite a lot of people at once{% if government.is_facebook? %}, or <a href="/facebook/invite">invite your Facebook friends</a>{% endif %}.