For our influence to grow, we need your help recruiting, and you probably want some help recruiting too.
<p>
Here's what we can offer. <span class="highlight">It's all free</span>.  In addition to your organization's logo on our <a href="/network/partners">partners page</a>, you can have your own website URL like: <a href="http://partner.{{government.base_url}}/">http://partner.{{government.base_url}}/</a> with
<ol>
	<li>your logo
	<li>a link to your website
	<li>a checkbox when people signup to opt-in for <span class="highlight">your email list or newsletter</span>.
</ol>