Find people you know by importing your contacts from Google, Yahoo, Windows Live, or Facebook.
<p>You will be taken to the other site to authorize access for {{government.name}}, and then 
once imported, you can see who's already on the site to add them to your network, and then invite anyone who isn't a member to join.
<p>No one will receive an email unless you explicitly send it yourself.  You will earn<span class="pc">5{{government.currency_short_name}}</span> for every new member you refer, increasing your <a href="/network">influence</a> at {{government.name}}.