<b>Add a talking point</b>.
What is the best argument for or against this priority?  Others will be able to edit it, and we keep a record of revisions, just like Wikipedia. Keep it concise and focused on just one point, you can add additional ones later.  Only the <span class="red">*</span> fields are required.
<p>