<h1>Your privacy</h1>
<p>
Your real name and email address are never made public, and you can identify yourself however you want by clicking on Settings > Your Account at the top of the page.
<p>If you specify your legislators, people will be able to see who your Senators and Representative are, but they will not be able to see your actual address.
<p>
Any other optional information you provide in your account will be public on your profile.  You can remove it any time by clicking on Settings > Your Account.	
<p>
Your real name and email address, may be shared with {{ government.target }} as part of efforts to get our priorities addressed.  
<p>
Our partners have the option of asking you to opt in to their email updates, which you'll see as a checkbox on some signup forms.    If you opt-in to receive their emails, they will have access to your real name and email address.  Their privacy policies are available as well as an unsubscribe link in the Your Account area.
<p>
By joining, you will get occasional emails from {{ government.name }}, which you can turn off <a href="/unsubscribe">here</a>.  Your information will never be shared with anyone else without your explicit permission. 
