<h2>Our Rules</h2>
<p>
1. <b>Only 1 account per person.</b>  If you're found to have multiple active accounts, all of your accounts will be disabled and your priorities removed from the site.
<p>
2. <b>Please be civil.</b>  Government is serious, please consider this forum like you would a town hall or a legislative body.  No personal attacks of any kind are allowed.