<h2>Three Simple Rules</h2>
<p>
1. <b>You must be a U.S. citizen.</b> Non-citizens are encouraged to browse the site and use it however they want, they just cannot join and set their own priorities.  This is on the honor system.  We do not do any blocking by country, since there are many U.S. citizens living and working in other parts of the world. Any one found not to be a U.S. citizen will be escorted away.
<p>
2. <b>Only 1 account per person.</b>  If you're found to have multiple active accounts, all of your accounts will be disabled and your priorities removed from the site.
<p>
3. <b>Please be civil.</b>  Government is serious, please consider this forum like you would a town hall or a legislative body.  No personal attacks of any kind are allowed.