<h2>Join the network of citizens setting the national agenda</h2>
Sign up below to set your own priorities for {{government.target}}.  <b>You'll get your own page</b>, which you can send to friends and colleagues urging them to sign on to support your priorities.  This is all <i>free</i>, and you don't even have to create an account if you're already on Facebook, just click the big blue button.
<p>
<b>Spread your agenda for America</b>.  The more people you encourage to endorse your priorities, the <a href="/priorities/top">higher those priorities</a> will rise on the site.  And the more people who join the network, the more clout we will have with {{government.target}} and the media to make our agenda happen.