Click on an <span class="priority_add">endorse</span> or <span class="priority_add">oppose</span> button to add a priority to your list.  Then drag and drop to change the order.
<p>
The big numbers you see next to each priority is the overall rank across all members. 
The higher your endorsement or opposition is in your list, the more it impacts the rankings.
<p>Need inspiration? Try a few <a href='/priorities/random'>random priorities</a>.