Drag and drop to re-order your list<br/>
or click the # to change its priority.
<p>
Need help prioritizing?  Try the <a href='/prioritizer' title="The quiz is a fun and simple way to organize your priorities">priority quiz</a>.
