<table border="0" cellspacing="0" cellpadding="0" width="350">
	<tr><td>Use <a href="http://hobix.com/textile/" title="Complete reference">Textile formatting</a>. For example, this:</td><td>becomes:</td></tr>
	<tr><td>*bold*</td><td><b>bold</b></td></tr>
	<tr><td>_underline_</td><td><u>underline</u></td></tr>
	<tr><td># ordered list</td><td>1. ordered list</td></tr>
	<tr><td>* unordered list</td><td><li style="margin-left:15px;">unordered list</td></tr>
	<tr><td>"Link":http://otherwebsite.com/</td><td><a href="http://otherwebsite.com/">Link</a></td></tr>
</table>
<p>
Video links for YouTube and Vimeo will turn into embedded players.
<br/>
YouTube: http://www.youtube.com/watch?v=meaquX4VJn4<br/>
Vimeo: http://vimeo.com/3372329<br/>