<h2>What is a personal attack?</h2>

<p>This is okay: "That's a dumb idea."

<p>This is not: "You're an idiot for suggesting such a dumb idea."

<p>See the difference?  You can say an idea or proposal is a bad idea (hopefully more eloquently than simply "that's dumb"), but it's not okay to attack a person.

<h2>Warnings</h2>

We take these rules very seriously.  For personal attacks, we have a warning system.
<p>The first warning is simply that.  The comment will be deleted, but nothing bad will happen.  If it doesn't happen again for 3 months, the warning will be expunged and forgotten.  
<p>If you receive a second warning, you will lose 10% (or 1{{government.currency_short_name}}, whichever is greater) of your {{government.currency_name | downcase}}.
<p>On the third warning, you will be put on probation, losing 30% (or 3{{government.currency_short_name}}, whichever is greater) of your {{government.currency_name | downcase}} and unable to post anything on the site for a week.
<p>On the fourth warning, you will be banned from the site.