<% form_tag({:controller => "briefing", :action => "search" }, :method => 'get') do %>
<table cellpadding="0" cellspacing="0" border="0">
<tr>
<td valign="middle">
	<div class="magnifier_wrap">
	<span class="magnifier_image"><img src="/images/icons/magnifier.gif" width="14" height="14" border="0"></span>
	<span class="magnifier_box">
	<%= text_field_tag "bq", h(params[:bq]), :size => 40, :id => "briefing_room_search" %>
	</span>
	</div>
</td>
</tr>
<% end %>	
</table>

