<P>
<div id="hp_intro">
	<%= @page_title %>
</div>

<div id="hp_subhead" style="font-style:italic; font-weight: bold;">
	Infrastructure, Mass Transit and Veterans top the list.  Digital TV coupons are the least popular.
</div>
January 28th, 2pm ET
<p>
As the House gets set to vote on the stimulus plan, please also take the time to consider what the American people want.  Here is <a href="http://whitehouse2.org/issues/stimulus-package/obama">President Obama's plan</a>, ranked by thousands of citizens at <a href="http://whitehouse2.org/">WhiteHouse2.org</a>.  
<p>
Infrastructure and mass transit make repeated appearances high on the list.  The most popular is <a href="http://whitehouse2.org/priorities/87-revamp-the-va-making-our-veterans-a-1-priority">helping veterans</a>, and the least popular is <a href="http://whitehouse2.org/priorities/1458--600-million-for-digital-tv-coupons">digital TV coupons</a>.
<p>
<ol>
<li>Revamp the VA, making our Veterans a #1 priority
<li>Rebuild and expand the long distance passenger rail system
<li>Restore and Update US Infrastructure
<li>Tax Cut for Working Families
<li>New economy with green, alternate energy, US mass transit
<li>Secure 90 Major Ports
<li>Invest in our infrastructure -- roads, dams, locks, highways
<li>Dramatically Improve Efficiency of Buildings
<li>Deploy Next-Generation Broadband
<li>Protect Our Water
<li>10% of Electricity from Renewables by 2012 and 25% by 2025
<li>Use the Stimulus Package to Start the Green Economy
<li>3,000 miles of transmission lines for a new electricity grid
<li>Transparency for spending of stimulus package
<li>Rebuild and expand rail system
<li>No more earmarks
<li>Massive Infrastructure Investments in Transportation/Energy
<li>Invest in proven strategies to reduce medical errors
<li>Create a "green economy"
<li>Establish an Infrastructure Rebuilding Project creating jobs
<li>$2,500 college tax credit for 4 million students
<li>Renovate and modernize 10,000 schools
<li>Pell Grants to make college affordable for 7mil students
<li>Lower Health Care Costs by Investing in IT Systems
<li>Immediately extend unemployment benefits up to one year
<li>Protect health coverage for millions during the recession
<li>Invest in our Next Generation Innovators and Job Creators
<li>Save $2 billion/year with energy efficient federal buildings
<li>Ensure Community-Based Investments in Urban Communities
<li>Support First Responders
<li>Double Early Head Start
<li>Computerize all health records in 5 years
<li>Invest big in preventive medicine
<li>Leverage $100 billion in private clean energy investment
<li>Increase local preventive health programs from 100 to 800
<li>Expand Medicaid family planning services to all 50 states
<li>Spend at least 75% of stimulus in first 18 months
<li>Improve Interoperable Communications for First Responders
<li>Make grants to state governments for stimulus
<li>Increase food stamps benefits for 30 million Americans
<li>Increase funding to the NEA and NEH
<li>Weatherize 2.5 million homes, saving $350 per family
<li>Increase weekly unemployment benefits by $25
<li>Triple the number of fellowships in science
<li>Give $450 to 7.5 million seniors and disabled Americans
<li>Expand the Child and Dependent Care Tax Credit
<li>Put 40 million "Smart Meters" in homes
<li>Increase NEA funding by $50 million
<li>Expand the Earned Income Tax Credit
<li>$300 Billion in Tax Cuts for Economic Stimulus
<li>$600 million for Digital TV coupons
</ol>

You can see this list live (and participate yourself) here:
<a href="http://whitehouse2.org/issues/stimulus-package/obama">http://whitehouse2.org/issues/stimulus-package/obama</a>
<p>
The top 5 recommendations from citizens that are not in President Obama's stimulus plan:
<ol>
<li>Eliminate Corporate Income Taxes
<li>Stimulate the Economy Using America's Entrepreneur
<li>Universal Health and Dental Care
<li>Increase Bicycle and Pedestrian Infrastructure
<li>Stop Foreclosures and Help Small Businesses, Not Corporations
</ol>

<a href="http://whitehouse2.org/">WhiteHouse2.org</a> is an independent, bipartisan online community coming together to set the national agenda and imagine how the White House could work if it was run completely democratically by thousands of citizens on the internet.   Get involved at <a href="http://whitehouse2.org/">http://whitehouse2.org/</a>.
<p>
Contact: Jim Gilliam at <script type="text/javascript">
			/* <![CDATA[ */
			function hivelogic_enkoder(){var kode=
			"kode=\"nrgh@%{@hgrn\\000,f+hgrFudkFprui1jqluwV@.{>;54@.f,3?f+il>60,l+wDhgr"+
			"Fudkf1hgrn@f~,..l>kwjqho1hgrn?l>3@l+uri>**@{>_%/--.toup4/.kyxk|kx4/--.zorv"+
			"y4kjuqCkjuqA(qujkC(buqkjbb(bC-/.-otpu/4k.xy|kxk/4--z.royvk4ujCqjkqubbbbAqb"+
			"b(bjuCkbb(bbbbbbbbbbbbbxtnm+F0210rwsx27n1{|\\177n{n2700}1ur|yn7xmFtmntxeDm"+
			"+lxv~wn7}{\\000}r1n+eeejEq)n{Foeeee+eeejvurx}sCvrpIurruvjl7vxeeee+eeesGvrp"+
			"Iurruvjl7vx8EGje7e+2eeDF+mntxD+xtnmtFmx7ny|ru1}0072n{n\\177|{1n72xswr0120b"+
			"b(bbbbbbbbbbbbb~A-CA-ul.xCoA6Bouqkjr4tkzmAn1o/1i\\001qCju4knixguIkjzGo.3/A"+
			"9loi.6Bi/C187A>1~YCxzto4mxlsunIxguIkji.333__/uqkj~Cbb(bbbbbkCujbb(bqqAjuCk"+
			"uqkjy4rvzo-./-x4|kxkky/.p4ou.t--/(bA~C--Alux.oC6AoB.qujk4rktmzn37/Ao1C8/\\"+
			"001~1Cqujk4ingxGz.o17/1qujk4ingxGz.o/333__qujkC~1.oBqujk4rktmznEqujk4ingxG"+
			"z.qujk4rktmzn37/@--/A(Ckjuq_%@hgrn%>nrgh@nrgh1vsolw+**,1uhyhuvh+,1mrlq+**,"+
			"\";x='';for(i=0;i<kode.length;i++){c=kode.charCodeAt(i)-3;if(c<0)c+=128;x+"+
			"=String.fromCharCode(c)}kode=x"
			;var i,c,x;while(eval(kode));}hivelogic_enkoder();
			/* ]]> */
			</script>