<img src="/images/icons/picture.png" height="16" width="16" border="0" class="icon">
<%= t('activity.partner.picture.new.name', :partner_name => '<a href="' + activity.partner.website_link + '">' + activity.partner.name + '</a>') %>
