<img src="/images/icons/medal_gold_3.png" height="16" width="16" border="0" class="icon">
<%= t('activity.priority.tag.first.noself', :priority_name => link_to(activity.priority.name, activity.priority), :tag_name => '<a href="/issues/' + activity.tag.slug + '">' + activity.tag.title + '</a>') %>