<div id="hp_intro"><%= @page_title %></div>
<p>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
	
	<tr><td valign="top" width="160">
			<%= render :partial => "nav" %>
		</td>
		<td valign="top">
			
		</td>
	</tr>
</table>
